header {
    position: fixed;
    height: 150px;
    padding-top: 30px;
    padding-right: 30px;
    background-color: white;

    .logo {
        margin-left: 70px;
        margin-right: 340px;
        padding-top: 30px;
    }

    .flexible-header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .navbar .menubar ul {
     
            li {
                display: inline-block;

                .nav-item {
                    color: black;
                    text-decoration: none;
                    margin-left: 70px;
                    font-size: 20px;
                    &:hover {
                        color: blue;
                    }
                }

               

                .btn-primary {
                    margin-left: 80px;

                    &:hover {
                        background-color: darkblue;
                    }
                }
            }


        }
    }
}