@import"./advantage";
#works{
    height: 800px;
    background-color:lightgray;
    padding-top: 80px;
    h2{
        font-size: 50px;
        color: black;
        padding-bottom: 30px;
        letter-spacing: 3px;
    }
    h5{
        color: black;
        padding-top: 30px;
    }
    p{
        padding-top: 20px;
        color: gray;
    }
}